

.full-landing-image {
    width: 100%;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("assets/images/gallery/yatch.jpg") no-repeat;
    background-size: cover;
    position: relative;
    float: left;

}

#mouseyatch {
    cursor: url("assets/images/gallery/101.png"), auto;

}

.mid h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 40%;
    left: 20%;
    font-size: 6rem;
    transform: translate(-50%, -50%);
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.filter {
    /* text-align: center; */
}

.filter .col-xl-12 {
    padding: 2px 90px 2px 40px;
    /* width: 90%; */
    /* text-align: center; */
}

.mb-3 {
    margin-bottom: -2rem !important;
}

.filter .btn {
    height: 52px;
    width: 100%;
    margin-top: 11px;
}


@media (max-width:575px) {
    .filter .col-xl-12 {
        padding: 35px;
        /* width: 90%; */

    }

    .filter .mt-n3 {
        margin-top: -13rem !important;
    }

    .mid h2 {
        text-align: left;
        top: 46%;
        left: 37%;
        font-size: 5rem;

    }
}

@media (max-width: 1024px) {
    .filter .col-xl-12 {
        padding: 35px;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width:1024px) {
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 32.666667% !important;
    }

    .filter .mt-n3 {
        margin-top: -9rem !important;
    }

    .mid h1 {
        text-align: left;
        top: 40%;
        left: 36%;
        font-size: 5rem;

    }
}

@media (min-width:1024px) and (max-width:1200px) {
    .filter .mt-n3 {
        margin-top: -4rem !important;
    }
}

.pt-md-8 {
    padding-top: 0rem !important;
}




.page-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #2a1f30 50%, #383d44 50%);
}

/* ====================================
Home Slider
==================================== */

#home-slider {
    height: 80vh;
    width: 90vw;
    position: relative;

}

.swiper-container {
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.swiper-image-one {
    background-image: url(https://source.unsplash.com/GXOGGENgHnQ/1600x900);
}

.swiper-image-two {
    background-image: url(https://source.unsplash.com/Jy6luiLBsrk/1600x900);
}

.swiper-image-three {
    background-image: url(https://source.unsplash.com/sFLVTqNzG2I/1600x900);
}

.swiper-image-four {
    background-image: url(https://source.unsplash.com/pj1jt4vBGZY/1600x900);
}

.swiper-image-five {
    background-image: url(https://source.unsplash.com/Jy6luiLBsrk/1600x900);
}

.swiper-image-six {
    background-image: url(https://source.unsplash.com/bxCgan0J1Sg/1600x900);
}

.swiper-image {
    width: 50%;
    height: 100%;
}

.swiper-image-inner {
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.2);
    background-blend-mode: overlay;
}

.swiper-image-inner.swiper-image-left {
    padding: 4rem;
}

.swiper-image-left {
    filter: sepia(100%);
    transition: all 1s linear;
    transition-delay: 1s;
}

.swiper-slide.swiper-slide-active .swiper-image-left {
    filter: sepia(0%);
}

.swiper-image-inner.swiper-image-right {
    filter: hue-rotate(-60deg);
    transition: all 1s linear;
    transition-delay: 1s;
    background-color: hsla(0, 0%, 0%, 0.5);
    background-blend-mode: multiply;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
    color: #fff;
    align-self: flex-start;
    margin: 0 0 auto 0;
    font-size: 4.5rem;
    line-height: 1;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.1s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

h1 span.emphasis {
    font-weight: 700;
    font-style: italic;
    opacity: 0;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.2s;
    transform: translate3d(-20%, 0, 0);
    display: inline-block;
}

h1 span:not(.emphasis) {
    font-size: 3.5rem;
}

h1+p {
    font-family: 'Cormorand SC';
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
    line-height: 1;
    margin-bottom: auto;
    align-self: flex-end;
    text-transform: uppercase;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
    font-weight: 500;
    color: #fff;
    padding-right: 8rem;
}

p.paragraph {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    width: 100%;
    max-width: 350px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0;
    transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1.4s;
    transform: translate3d(-20%, 0, 0);
}

.swiper-slide.swiper-slide-active .swiper-image-right {
    filter: hue-rotate(90deg);
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active p.paragraph,
.swiper-slide.swiper-slide-active h1 span.emphasis,
.swiper-slide.swiper-slide-active h1+p {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    h1 {
        font-size: 3.9rem;
    }

    h1 span:not(.emphasis) {
        font-size: 2.9rem;
    }

    h1+p {
        font-size: 13px;
    }

    p.paragraph {
        font-size: 1rem;
        line-height: 1.3;
    }
}

@media screen and (max-width: 960px) {
    h1 {
        font-size: 3.5rem;
    }

    h1 span:not(.emphasis) {
        font-size: 2.5rem;
    }

    p.paragraph {
        max-width: 90%;
    }
}

@media screen and (max-width: 640px) {
    #home-slider {
        height: 86vh;
        width: 96vw;
    }

    h1 {
        font-size: 3.2rem;
        align-self: center;
    }

    h1 span:not(.emphasis) {
        font-size: 2.1rem;
    }

    p.paragraph {
        max-width: 94%;
    }
}

.fa-regular,
.far,
.fa-solid,
.fas {
    font-weight: 400;
    margin-top: 15px;
}
@media (min-width:575px) and (max-width:1024px){
    .mid h2 {
left: 40%;
}
}

@media (max-width: 1200px){
    #FavoriteYatchs{
        display: none;
    }
}



.cont1 h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.cont1 h2:nth-child(2) {
    color: #fafafa;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.full-landing-image {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 575px){
.filter .row > * {
        width: 100% !important;
        max-width: 100% !important;
}
}
    .pt-5 {
    padding-top: 0rem !important;
}
.cont2 {
    margin-top: 0px;
    margin-left: 388px;
}
            #bestfacilities h2,
			#bestfacilities p,
			#bestfacilities h6 {
				color: white;
			}
			.text-primary {
				--bs-text-opacity: 1;
				color: #d5ae82 !important;
			}
			.btn-dark {
				--bs-btn-color: #fff !important;
				--bs-btn-bg: #d5ae82 !important;
				--bs-btn-border-color: #d5ae82 !important;
				--bs-btn-hover-color: #fff;
				--bs-btn-hover-bg: #d5ae82 !important;
				--bs-btn-hover-border-color: #d5ae82 !important;
				--bs-btn-focus-shadow-rgb: 48, 47, 54;
				--bs-btn-active-color: #fff;
				--bs-btn-active-bg: #d5ae82 !important;
				--bs-btn-active-border-color: #d5ae82 !important;
				--bs-btn-active-shadow: none;
				--bs-btn-disabled-color: #fff;
				--bs-btn-disabled-bg: #d5ae82 !important;
				--bs-btn-disabled-border-color: #d5ae82 !important;
			}

			.btn-primary {
				--bs-btn-color: #061138 !important;
				--bs-btn-bg: transparent !important;
				--bs-btn-border-color: #061138 !important;
				--bs-btn-hover-color: #fff;
				--bs-btn-hover-bg: #d5ae82 !important;
				--bs-btn-hover-border-color: #d5ae82 !important;
				--bs-btn-focus-shadow-rgb: 107, 95, 223;
				--bs-btn-active-color: #fff;
				--bs-btn-active-bg: #d5ae82 !important;
				--bs-btn-active-border-color: #d5ae82 !important;
				--bs-btn-active-shadow: none;
				--bs-btn-disabled-color: #fff;
				--bs-btn-disabled-bg: #d5ae82 !important;
				--bs-btn-disabled-border-color: #d5ae82 !important;
			}

			#bestfacilities a {
				color: #061138 !important;
			}

			#bestfacilities a:hover {
				color: #061138 !important;

			}


            .card .fa-solid {
                margin-top: 0px !important;
            }

            @media(max-width:1200px){
                #happyMoments , #happyMoments2{
                    display: none;
                }
                .h-600px{
                    height: 0px !important;
                }
            #removesc .row {
            --bs-gutter-x: 0.875rem;
            --bs-gutter-y: 0;
            
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: calc(-1 * var(--bs-gutter-y));
            margin-right: 0 !important;
            margin-left: calc(-0.5 * var(--bs-gutter-x));
                }								
            }


            .parallax {
				/* The image used */
				background-image: url("assets/images/category/yatch/yatch01.jpg");
				min-height: 500px;
				background-attachment: fixed;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				margin-top: 20px;
				margin-bottom: 20px;
				z-index: -1;
				background-color: #fff
			}

			@media (max-width:575px) {
				.parallax {
					min-height: 700px;
				}

				.vl {
					margin-left: 244px;
				}

			
			}

			.banner__overlay {
				position: absolute;
				width: 100%;
				min-height: 500px;
				background: #162347;
				opacity: .9;
				z-index: 12;
			}

			strong {
				color: #fff;
			}

			.wrap-center {
				margin: 0 auto;
				position: relative;
				max-width: 73.231em;
				z-index: 100;
			}

			.banner-centered {
				text-align: center;
				position: relative;
				display: block;
				max-width: 75.231em;
				height: inherit;
				overflow: hidden;
				margin-top: 60px;
			}

			.banner-centered h2 {
				font-size: 2.5em;
				line-height: 1.5;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: #fafafa;
				font-weight: 500;
				display: block;
				margin-top: 50px;
			}

			.parallax .col-sm-4 h5 {
				text-align: center !important;
				color: white;
			}

			.parallax .col-sm-4 h5:hover {}

			.vl {

				border-left: 0.5px solid #c5c5c778;
				height: 35px;

				margin-left: 184px;
				margin-bottom: 5px;

			}

			.parallax a {
				color: white;
				font-weight: bold;
			}

			.parallax button {
				display: none;
			}

			.parallax .btn:hover {
				width: 170px;
				height: 50px;
				text-align: center;
				background-color: transparent;
				border: 3px solid #fafafa;
				color: #fafafa;

			}



			.flip-box {
				background-color: transparent;
				/* width: 300px; */
				/* height: 200px; */
				/* border: 1px solid #f1f1f1; */
				perspective: 1000px;
			}


			.flip-box-inner {
				position: relative;
				width: 100%;
				height: 50px;
				text-align: center;
				transition: transform 0.8s;
				transform-style: preserve-3d;
			}

			.flip-box:hover .flip-box-inner {
				transform: rotateY(180deg);
			}

			.flip-box-front,
			.flip-box-back {
				position: absolute;
				width: 100%;
				/* height: 100%; */
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}

			.flip-box-back {

				transform: rotateY(180deg);
			}
			@media (max-width:725px){
			.parallax .row > * {
    
   			 width: 100%;
			}
			
			}
			@media (max-width:525px){
			
			.banner__overlay {

				min-height: 827px !important;
				}
			}
			@media (min-width:526px) and (max-width:726px){
				.banner__overlay {
					min-height: 768px !important;
					}
			}
			@media (max-width:375px){
				.vl {
					margin-left: 177px;
				}
			}
			@media (min-width:375px) and (max-width:435px){
				.vl {
				margin-left: 200px;
			}
			}
			@media (min-width:435px) and (max-width:526px){
				.vl {
				margin-left: 245px;
			}
			}
			@media (min-width:526px) and (max-width:605px){
				.vl {
				margin-left: 283px;
			}
			}
			@media (min-width:605px) and (max-width:700px){
				.vl {
				margin-left: 340px;
			}
			}
			@media (min-width:700px) and (max-width:726px){
				.vl {
				margin-left: 346px;
			}
			}
			@media (min-width:726px) and (max-width:800px){
				.vl {
				margin-left: 109px;
			}
			}
			@media (min-width:800px) and (max-width:875px){
				.vl {
				margin-left: 130px;
			}
			}
			@media (min-width:875px) and (max-width:992px){
				.vl {
				margin-left: 130px;
			}
			}

            #offersec{
                background-color:#d5ae82;
                margin-top: 0px;

            }
            @media (max-width:992px){
                #offersec {
                    display: none;
                }
            }
            #offersec .bestoffer{
                text-align: center;
                padding-top: 10px;
            }
            #offersec .bestoffer h4{
                padding-top: 50px;
                padding-right: 10px;
                padding-left: 10px;
                text-align: center;
                
            }
            #offersec .circle{
                background-color: #fff;
                text-align: center;
                border-radius: 50%;
                height: 100px;
                  width: 100px;
                  margin-left: 76px;
            }
            #offersec .circle p{
                padding: 20px;
            }
            .col-2 {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 auto;
                    margin: 6px;
                    flex: 0 0 auto;
                    width: 17.666667%;
                }

                footer{
                    background-color: #061138 !important;
                }
            
                .h-40px {
                height: 100px !important;
            }
            .bg-dark a:hover{
            color:#d5ae82 !important; 
            }
            .bg-dark .btn-primary:hover{
                border-color: #fff !important;
            }
            
                    @media (max-width:525px){
                    .col-3 {
                width: 98% !important; 
            }
            }
            @media (min-width:525px) and (max-width:1024px){
                    .col-3 {
                width: 33% !important; 
            }
            }
            /* @media (min-width:561px){
                #footerhide{
                    display: none;
                }
            } */

            @media(max-width:560px){
                
                #hidemin{

                    text-align: center;
                    margin-top: 20;
                }
                #hidemin h5{
                    margin-top: 20;
                }
                .row > * {
                
                 width: 100%;
                }
                .col-3 {
                text-align: center;                
            }
            #hidemin1{
                display: none;
            }
            }
            @media (min-width:561px){
                #hidemin1{

                    text-align: left;
                    margin-top: 20;
                }
                #hidemin{
                    display: none;
                }
            }